<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qfk">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kids_more"
        android:label="Quran For Kids"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QFK">
        <activity
            android:name=".bookmark"
            android:exported="false" />
        <activity
            android:name=".More"
            android:exported="false" />
        <activity
            android:name=".Video_Act"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SurahVideo"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Splash_Screen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Surah_1"
            android:exported="false" />
        <activity
            android:name=".Dua_1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Six_kalma"
            android:exported="false" />
        <activity
            android:name=".Fifth_kalma"
            android:exported="false" />
        <activity
            android:name=".Fourth_kalma"
            android:exported="false" />
        <activity
            android:name=".Third_kalma"
            android:exported="false" />
        <activity
            android:name=".Second_kalma"
            android:exported="false" />
        <activity
            android:name=".pehla_kalma"
            android:exported="false" />
        <activity
            android:name=".Dua_listen_click"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Kalma_listen_click"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Surah_listen_click"
            android:exported="false" />
        <activity
            android:name=".Dua_read_click"
            android:exported="false" />
        <activity
            android:name=".Kalma_read_click"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Surah_read_click"
            android:exported="false" />
        <activity
            android:name=".ListenClick"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReadClick"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        </application>

    </manifest>
